<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="showItemsYear" class="modal fade" id="showItemsYear" tabindex="-1" role="dialog" aria-labelledby="showItemsYear" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="showItemsYearHeader"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

                <div class="modal-body" style="height: 300px; overflow-y: scroll;">

                    <p id="noItems" hidden>No Items to Show</p>

                    <ul class="listDetails-group" id="items-listDetails">
                    </ul>

                    <div class="d-flex justify-content-center align-items-center">
                        <div id="spinner" class="spinner-border" role="status" hidden>
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>


        </div>
    </div>

</div>
