<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="addModal" class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">New User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div id="modalEditMessage" role="alert" ></div>

        <div id="modalBody" class="modal-body">

          <div class="form-group">
            <label for="userUsername">Username</label>
            <input type="text" class="form-control" id="userUsername">
            <div class="invalid-feedback" id="usernameValidation" style="display: none;"></div>
          </div>

          <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" id="userPassword">
            <div class="invalid-feedback" id="passwordValidation" style="display: none;"></div>
          </div>

          <div class="form-group">
            <label for="userPasswordRepeat">Repeat Password</label>
            <input type="password" class="form-control" id="userPasswordRepeat">
            <div class="invalid-feedback" id="passwordMatchError" style="display: none;"></div>
          </div>

          <div class="form-group">
            <label for="userRole">Role</label>
            <select class="form-control" id="userRole">
              <option value="ADMIN">Admin</option>
              <option value="USER">User</option>
            </select>
          </div><br>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="addSubmit" disabled>Add</button>
        </div>
    </div>
  </div>

</div>

