<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav" style="margin-left: 10px;">

        <li class="nav-item">
          <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated() && hasAuthority('ADMIN')">
          <a class="navbar-brand" href="#" th:href="@{/users/listDetails}">Users</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated() && hasAuthority('ADMIN')">
          <a class="navbar-brand" href="#" th:href="@{/items/listDetails-admin}">Items</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated() && hasAuthority('USER')">
          <a class="navbar-brand" href="#" th:href="@{/lists/show}">Lists</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated() && hasAuthority('USER')">
          <a class="navbar-brand" href="#" th:href="@{/items/listDetails-user}">Items</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated() && hasAuthority('ADMIN')">
          <a class="navbar-brand" href="#" th:href="@{/messages/listDetails}">Messages</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated() && hasAuthority('USER')">
          <a class="navbar-brand" href="#" th:href="@{/sales/listDetails}">Sales</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated() && hasAuthority('USER')">
          <a class="navbar-brand" id="graphsLink" href="#" th:href="@{/sales/graphs/show}">Graphs</a>
        </li>

      </ul>

      <ul class="navbar-nav ms-auto" style="margin-right: 10px;">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accepted-requests-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="badge rounded-pill bg-dark" sec:authorize="isAuthenticated()" sec:authentication="name" id="usernameNavbar"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="accepted-requests-dropdown">
            <h6 class="dropdown-header">Accepted Requests</h6>
            <div class="dropdown-item position-relative">
              <div class="row d-flex">
                <span class="me-4">SKU: First</span>
                <span class="me-4">Item Name: First Item</span>
                <span class="me-4">Date: 2023-03-04</span>
                <button type="button" class="btn btn-sm btn-close position-absolute top-0 end-0 m-1"></button>
              </div>
            </div>
            <hr>
            <div class="dropdown-item position-relative">
              <div class="row d-flex">
                <span>SKU: Second</span>
                <span>Item Name: Second Item</span>
                <span>Date: 2023-03-04</span>
                <button type="button" class="btn btn-sm btn-close position-absolute top-0 end-0 m-1"></button>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item ms-auto" sec:authorize="isAuthenticated()">
          <a class="navbar-brand"  th:href="@{/logout}">
            Logout
          </a>
        </li>

        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="navbar-brand"  th:href="@{/login}">Login</a>
        </li>

      </ul>

    </div>

  </div>
</nav>
