<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="addModalInformations" class="modal fade" id="addModalInformations" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Item Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

                <div class="modal-body">
                    <ul>
                        <li><strong>Sku:</strong> <span id="addModalSku"></span></li>
                        <li><strong>Name:</strong> <span id="addModalName"></span></li>
                        <li><strong>MP Price:</strong> <span id="addModalPrice"></span></li>
                        <li><strong>Type:</strong> <span id="addModalType"></span></li>
                        <li><strong>Quality:</strong> <span id="addModalQuality"></span></li>
                        <li><strong>Class:</strong> <span id="addModalClass"></span></li>
                        <li><strong>Craftable:</strong> <span id="addModalCraftable"></span></li>
                        <li id="imageLi"><strong>Image:</strong> <span id="addModalImage"></span></li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>

        </div>
    </div>

</div>
