<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lists</title>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <!-- Include Bootstrap JavaScript file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"  crossorigin="anonymous">

    <script type="text/javascript" th:src="@{/js/items/list.js}"></script>

    <link rel="stylesheet" th:href="@{/css/item.css}">
</head>
<body>

<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>All Items</h2>
            <ul id="list1" class="list-group">
            </ul>

            <br>
            <nav class="text-center">
                    <a id="prev-page" class="page-link d-inline-block" href="#" onclick="updatePagination('prev')">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                <a id="next-page" class="page-link d-inline-block" href="#" onclick="updatePagination('next')">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </nav>

        </div>
        <div class="col-sm-6">
            <h2>Selected Items</h2>
            <ul id="list2" class="list-group">
            </ul>
        </div>
    </div>
</div>

</body>
</html>
