<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <title>Employee Directory</title>
</head>

<body>

<div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Home Page</a>
                <a class="navbar-brand" href="#" th:href="@{/items/list}">Items</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">
                            <span class="badge badge-secondary" sec:authorize="isAuthenticated()" sec:authentication="name"></span> Logout
                        </a>
                    </li>

                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h3>Manage Items</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Image</th>
            <th>Sku</th>
            <th>Name</th>
            <th>Craftable</th>
            <th>Class</th>
            <th>Quality</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${items}">

            <td> <img th:src="${item.image}" /> </td>
            <td th:text="${item.sku}">
            <td th:text="${item.name}" />
            <td th:text="${item.craftable} ? 'Yes' : 'No'" />
            <td th:text="${item.classItem}" />
            <td th:text="${item.quality}" />
            <td th:text="${item.type}" />

            <td>
                <form action="#" th:action="@{/items/delete}" method="POST">
                    <input type="hidden" name="itemSku" th:value="${item.sku}" />
                    <button type="submit" class="btn btn-danger"
                            onclick="if (!(confirm('Are you sure you want to delete this Item?'))) return false">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>

                <button type="button" class="btn btn-primary" data-toggle="modal"
                        th:data-itemSku="${item.sku}" th:data-itemName="${item.name}" th:data-itemCraftable="${item.craftable}" th:data-itemClass="${item.classItem}"
                        th:data-itemQuality="${item.quality}" th:data-itemType="${item.type}" th:data-itemImage="${item.image}"
                        data-target="#exampleModal">
                    Open Modal
                </button>
            <td/>
        </tr>
        </tbody>

        <form action="#" th:action="@{/items/add}" th:object="${item}" method="POST">

            <div class="form-group">
                <label for="itemSku">Sku</label>
                <input type="text" class="form-control" id="itemSku" th:field="*{sku}" >
            </div>

            <div class="form-group">
                <label for="itemName">Name</label>
                <input type="text" class="form-control" id="itemName" th:field="*{name}" >
            </div>

            <div class="form-group">
                <label for="itemCraftable">Craftable</label>
                <select class="form-control" id="itemCraftable" th:field="*{craftable}">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemClass">Class</label>
                <select class="form-control" id="itemClass" th:field="*{classItem}">
                    <option value="Multi-class">Multi-class</option>
                    <option value="Scout">Scout</option>
                    <option value="Soldier">Soldier</option>
                    <option value="Pyro">Pyro</option>
                    <option value="Demoman">Demoman</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemQuality">Quality</label>
                <select class="form-control" id="itemQuality" th:field="*{quality}">
                    <option value="Genuine">Genuine</option>
                    <option value="Vintage">Vintage</option>
                    <option value="Unique">Unique</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemType">Type</label>
                <select class="form-control" id="itemType" th:field="*{type}">
                    <option value="Cosmetics">Cosmetics</option>
                    <option value="Tools">Tools</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemImage">Image</label>
                <input type="text" class="form-control" id="itemImage" th:field="*{image}" >
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </table>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form th:action="@{/items/update}" th:object="${item}" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="modalItemSku">Sku</label>
                            <input hidden type="text" class="form-control"  id="modalItemSku" th:field="*{sku}" th:data-itemSku="${sku}" />
                        </div>

                        <div class="form-group">
                            <label for="modalItemName">Name</label>
                            <input type="text" class="form-control" id="modalItemName" th:field="*{name}" th:data-itemName="${name}" />
                        </div>

                        <div class="form-group">
                            <label for="modalItemCraftable">Craftable</label>
                            <select class="form-control" id="modalItemCraftable" th:field="*{craftable}" th:data-itemCraftable="${craftable}">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="modalItemClass">Class</label>
                            <select class="form-control" id="modalItemClass" th:field="*{classItem}" th:data-itemClass="${classItem}">
                                <option value="Multi-class">Multi-class</option>
                                <option value="Scout">Scout</option>
                                <option value="Soldier">Soldier</option>
                                <option value="Pyro">Pyro</option>
                                <option value="Demoman">Demoman</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="modalItemQuality">Quality</label>
                            <select class="form-control" id="modalItemQuality" th:field="*{quality}" th:data-itemQuality="${quality}">
                                <option value="Genuine">Genuine</option>
                                <option value="Vintage">Vintage</option>
                                <option value="Unique">Unique</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="modalItemType">Type</label>
                            <select class="form-control" id="modalItemType" th:field="*{type}" th:data-itemType="${type}">
                                <option value="Cosmetics">Cosmetics</option>
                                <option value="Tools">Tools</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="modalItemImage">Image</label>
                            <input type="text" class="form-control" id="modalItemImage" th:field="*{image}" th:data-itemImage="${image}" >
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <script>
        $(document).ready(function() {
          $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);

                var itemSku = button.data('itemsku');
                var itemName = button.data('itemname');
                var itemCraftable = button.data('itemcraftable');
                var itemClass = button.data('itemclass');
                var itemQuality = button.data('itemquality');
                var itemType = button.data('itemtype');
                var itemImage = button.data('itemimage');

                var modal = $(this);
                modal.find('.modal-body #modalItemSku').val(itemSku);
                modal.find('.modal-body #modalItemName').val(itemName);
                modal.find('.modal-body #modalItemCraftable').val(itemCraftable.toString());
                modal.find('.modal-body #modalItemClass').val(itemClass);
                modal.find('.modal-body #modalItemQuality').val(itemQuality);
                modal.find('.modal-body #modalItemType').val(itemType);
                modal.find('.modal-body #modalItemImage').val(itemImage);
          })
        })
    </script>

</div>
</body>
</html>



