<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"  crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/item.css}">
    <link rel="stylesheet" th:href="@{/css/noGreenValidation.css}">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>


    <script type="text/javascript" th:src="@{/js/messages/deleteRequestModal.js}"></script>



    <script type="text/javascript" th:src="@{/js/items/items.js}"></script>

    <script type="text/javascript" th:src="@{/js/global.js}"></script>

</head>

<body>

<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<br>

<div class="container-fluid">

    <div id="alertMessageUser" role="alert" ></div>

    <div class="row">
        <div class="col-3 d-md-block sidebar sidebar-container">

            <div class="d-none d-md-block bg-light border rounded ml-3" id="sidebar">
                <h5 class="text-center font-weight-bold mt-3 mb-3 display-4">Filter</h5>


                    <div class="form-group">
                        <label for="filterCraftableDropdown">Craftable</label>
                        <select class="form-control" id="filterCraftableDropdown" name="craftable">
                            <option th:each="craftableOption : ${craftableOptions}"
                                    th:value="${craftableOption}"
                                    th:selected="${selectedCraftable == craftableOption}"
                                    th:text="${craftableOption}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group mt-3"><label class="d-block font-weight-bold mb-2">Class</label>
                        <div th:each="class : ${classesList}" class="form-check-label">
                            <label>
                                <input type="checkbox" class="form-check-input" name="classes" th:value="${class}" th:text="' ' +${class}"
                                       th:checked="${selectedClasses != null && selectedClasses.contains(class)}" />
                            </label>
                        </div>

                        <label class="d-block font-weight-bold mb-2 mt-3">Quality</label>
                        <div th:each="quality : ${qualityList}" class="form-check-label">
                            <label>
                                <input type="checkbox" class="form-check-input" name="qualities" th:value="${quality}" th:text="' ' + ${quality}"
                                       th:checked="${selectedQualities != null && selectedQualities.contains(quality)}" />
                            </label>
                        </div>

                        <label class="d-block font-weight-bold mb-2 mt-3">Type</label>
                        <div th:each="type : ${typeList}" class="form-check-label">
                            <label>
                                <input type="checkbox" class="form-check-input" name="types" th:value="${type}" th:text="' ' +${type}"
                                       th:checked="${selectedTypes != null && selectedTypes.contains(type)}" />
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" onclick="filterButton()">Filter</button>
                    </div>

            </div>


        </div>
        <div class="col-9 main-content">

            <div class="container">
                <h3>Manage Items</h3>
                <hr>


                <div class="d-flex gap-2 align-items-center">

                    <button class="btn btn-primary" id="toggleBtn"><i class="fas fa-arrow-left"></i></button>

                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestAddModal">Request Item
                        <i class="fas fa-plus"></i>
                    </button>

                    <button class="btn btn-danger" id="clearFilters" onclick="clearFilters()"><i class="fa fa-filter" ></i></button>

                    <form autocomplete="off">
                        <div class="d-flex align-items-center">
                            <input placeholder="Search by Name" type="text" id="searchInput" class="form-control"/>

                            <button type="button" class="btn btn-primary" onclick="searchButton()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>

                </div>
                <br>

                <p id="noItems" class="fs-3" style="display:none;"> No Items </p>

                <table  class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Sku</th>
                        <th>Name</th>
                        <th>MP Price</th>
                        <th>Craftable</th>
                        <th>Class</th>
                        <th>Quality</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>

                   <div th:replace="messages/modals/delete.html :: requestDeleteModal"></div>

                    <nav aria-label="...">
                        <ul class="pagination">
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>



